*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
}

/* need overflow for the scrolling */
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.chat-header {
  height: 50px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  color: #181b21;
  font-family: "sf", sans-serif;
  border-bottom: 2px solid #bdbdbd42;
}
.chat-container {
  display: flex;
  height: 440px;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-direction: column;
  overflow: auto;
}

.chat-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #bdbdbd42;
  padding-bottom: 10px;
}
.loading {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.chat-input {
  height: 40px;
  border: none;
  width: 250px;
  border-radius: 30px;
  background-color: #dee2e6;
  font-size: 14px;
  font-family: "sf", sans-serif;
  font-weight: bold;
  padding: 12px;
  margin-top: 10px;
}

.chat-input:focus {
  outline: none !important;
  border: 3px solid #0066ff;
}

.add-question-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 12px;

  border-bottom: 6px solid #004bbd;
  background-color: #0066ff;
  margin: 10px;
  transition: all 0.1s;
  display: inline-flex;
  padding: 10px 12px;
}

.add-question-button:active {
  border-bottom: 2px solid #0066ff;
  transform: translateY(2px);
}

.bot-message-container {
  display: flex;
  flex-direction: row;
}

.bot-profile {
  font-size: 40px;
}
table, thead, tbody, th, td, tr { 
  display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr { 
  position: absolute;
  top: -9999px;
  left: -9999px;
}

tr { border-bottom: 1px solid #ccc; padding-bottom: 10px; padding: 8px;}

td { 
  /* Behave  like a "row" */
  border: none;
  padding: 2px;
  position: relative;
  padding-left: 100px; 
  text-align: center;
}

td:before { 
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  font-weight:bold;
  left: 6px;
  
  padding-right: 20px; 
  white-space: nowrap;
}

.athlete:nth-of-type(1):before {
  content: "Name:";
}
.athlete:nth-of-type(2):before {
  content: "Sport:";
}
.athlete:nth-of-type(3):before {
  content: "Home:";
}
.athlete:nth-of-type(4):before {
  content: "Height:";
}
.athlete:nth-of-type(5):before {
  content: "Weight: ";
}

.schedule:nth-of-type(1):before {
  content: "Gender:";
}
.schedule:nth-of-type(2):before {
  content: "Sport:";
}
.schedule:nth-of-type(3):before {
  content: "Time:";
}
.schedule:nth-of-type(4):before {
  content: "Location:";
}
.schedule:nth-of-type(5):before {
  content: "Pool:";
}

.medal:nth-of-type(1):before {
  content: "Contingent:";
}
.medal:nth-of-type(2):before {
  content: "Gold:";
}
.medal:nth-of-type(3):before {
  content: "Silver:";
}
.medal:nth-of-type(4):before {
  content: "Bronze:";
}
.medal:nth-of-type(5):before {
  content: "Total:";
}

.bot-message {
  background-color: rgb(229, 229, 234);

  font-size: 14px;
  max-width: 70%;
  overflow-wrap: break-word;
  margin-top: 30px;
  border-radius: 4px 20px 20px 20px;
  padding: 8px 10px;
  margin-left: 8px;
  font-family: sans-serif;
  animation: example 0.25s;
  overflow-x: auto;
}

.bot-chips {
  margin: auto;
  width: 80%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-top: 6px;
}
.chip {
  padding: 8px 15px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;

  background-color: #06f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #004dc0;
  margin: 8px;
  font-family: sans-serif;
  font-weight: bold;
}

.chip-disabled {
  padding: 8px 15px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;

  background-color: #8b8b8b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #6d6d6d;
  margin: 8px;
  font-family: sans-serif;
  font-weight: bold;
}
.chip:hover {
  background-color: #1b76ff;
}

.chip:active {
  background-color: #1b76ff;
  box-shadow: none;
  transform: translateY(4px);
}

.message-user {
  background-color: #06f;
  color: #fff;
  font-size: 14px;
  max-width: 70%;
  overflow-wrap: break-word;
  margin-top: 20px;
  border-radius: 20px 4px 20px 20px;
  padding: 8px 10px;
  margin-left: 8px;
  font-family: sans-serif;
  align-self: flex-end;
  animation: example 0.25s;
}

@keyframes example {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
