*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  margin: 0;
}

/* need overflow for the scrolling */
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.chat-title{
  height: 50px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  color: #181b21;
  font-family: "sf", sans-serif;
  border-bottom: 2px solid #bdbdbd42;
  
}
.chat-container {
  display: flex;
  height: 440px;
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  flex-direction: column;
  overflow: auto; 
}

.chat-input-container {
  display: flex;
  background-color: white;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: space-evenly;
  border-top: 2px solid #bdbdbd42
}

.chat-input {
  height: 40px;
  border: none;
  width: 300px;
  border-radius: 30px;
  background-color: #dee2e6;
  font-size: 14px;
  font-family: "sf", sans-serif;
  font-weight: bold;
  padding: 12px;
}

.chat-input:focus {
  outline: none !important;
  border: 3px solid #0066ff;
}

.add-question-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 12px;

  border-bottom: 6px solid #004bbd;
  background-color: #0066ff;
  margin: 10px;
  transition: all 0.1s;
  display: inline-flex;
  padding: 10px 12px;
}

.add-question-button:active {
  border-bottom: 2px solid #0066ff;
  transform: translateY(2px);
}

.message-user-container {
  margin-left: 100px;
}
.message-user {
  background-color: #0066ff;
  color: white;
  font-family: "sf", sans-serif;
 
  padding: 10px;
  font-size: 12.5px;
 
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 30px;
  overflow-wrap: break-word;

  
}
.message-bot-container {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.message-bot {
  background-color: #dee2e6;
  padding: 10px;
  font-size: 12.5px;
  color: rgb(0, 0, 0);
  font-family: "sf", sans-serif;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 30px;
  overflow-wrap: break-word;

  animation: leaves 0.3s ease;
}

.scrollInto {
  height: 50px;
}
.bot-profile {
 font-size: 40px;
}



@font-face {
  font-family: 'sf';
  src: local('sf'), url(./fonts/SF-Pro.ttf) format('ttf');
}